// THEME_START
$background: #002b36;
$foreground: #839496;
$background-alt: #073642;
$gray: #586e75;
$red: #dc322f;
$orange: #cb4b16;
$yellow: #b58900;
$green: #859900;
$cyan: #2aa198;
$purple: #6c71c4;
// THEME_END

* {
  all: unset;
}

@import './bar.scss', './power.scss', './stats.scss', './calendar.scss'
