! Dracula Xresources palette
*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6

! Sxiv dracula colors
Sxiv.foreground: #BD93F9
Sxiv.background: #282A36

!UXTerm and XTerm
XTerm*renderFont: true
XTerm*faceName: FiraCode Nerd Font Mono
XTerm*faceSize: 11

UXTerm*renderFont: true
UXTerm*faceName: FiraCode Nerd Font Mono
UXTerm*faceSize: 11


! ============ test
#define base_custom_foreground 			#d3dae3
#define base_custom_background_dark 	#404552
#define base_custom_background_light 	#666a73
#define base_custom_primary 			#3daee9
#define base_custom_warn 				#da4453

*custom_foreground: 		base_custom_foreground
*custom_background_dark: 	base_custom_background_dark
*custom_background_light: 	base_custom_background_light
*custom_primary: 			base_custom_primary
*custom_warn:				base_custom_warn
