/* THEME_START */
.blurredBG, #main_window, .blurredBG.low, .blurredBG.normal {
  background: rgba(0, 43, 54, 0.8);
  color: #839496;
}

.title {
  font-weight: bold;
  font-size: 16px;
}

.button-close {
  padding: 2px 6px;
}

.button-close:hover {
  background: #dc322f;
}

.appname {
  font-size: 12px;
}

.notificationInCenter {
  padding: 5px 0px 10px 0px;
  margin-right: 12px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.05);
}

.notification {
  padding: 0;
  margin: 0;
}

.notification button,
.notificationInCenter button {
  margin: 20px 0px 0px 0px;
}

button {
  font-weight: bold;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
  background-position: 0px 0px;
  text-shadow: none;
}

button:hover {
  color: #002b36;
  background: #2aa198;
}

.blurredBG.notification.critical {
  background: rgba(191, 97, 106, 0.8);
}

.notificationInCenter.critical {
  background: rgba(191, 97, 106, 0.8);
}
/* THEME_END */
