# confis
export DISPLAY=:0
setxkbmap br thinkpad &

# programs
lxsession &
cbatticon &
nitrogen --restore &
picom &
nm-applet &
sleep 3 && trayer --edge top --align right --widthtype pixel --height 18 --width 90 --monitor 1 --tint 0x00000000 --transparent false &

# my scripts
~/.local/bin/hotkeys &
~/.local/bin/monitor &
