snippet visualg "Description" b
Algoritmo "${1}"

Var
${2}
Inicio
${3}
Fimalgoritmo
endsnippet

snippet esl "Description" b
escreval(${1})
endsnippet

snippet se "Description" b
se (${1}) entao
	${2}
fimse
endsnippet

snippet sesenao "Description" b
se (${1}) entao
	${2}
senao
	${3}
fimse
endsnippet

snippet enquanto "Description" b
enquanto (${1}) faca
	${2}
fimenquanto
endsnippet

snippet repita "Description" b
repita
	${1}
ate (${2})
endsnippet
